/*#token{background-image: url("../img/tokenSelection.png"); width: 15.5em; height: 2.3em;}*/
.sel-token{margin-left: 2em; margin-top: 0.5em;background: none; color: #ffffff; width: 5em; height: 2em;}
.sel-token option{background-color: rgba(40, 47, 45, 0.5);}
.selection-nav{margin-left:20%; width: 65.5%;font-size: 116%;}
.selection-nav ul li{width: 26.3%; text-align: center; border-radius: 0.5em; list-style: none; background-color: rgba(229, 236, 234, 0.4); border-right: 0.05em solid #8da5a5; height: 2em;line-height: 173%;}
.selection-nav ul li a{text-decoration: none; color: #ffffff;}
.selection-nav-on{background-color: rgba(229, 236, 234, 0.16)!important;}
#pre-icon{position: absolute;left: 2em;top: 14.5em;}
#nxt-icon{position: absolute;left: 13.5em;top: 14.5em;}
.spectate-online{width: 22%; height: 34.7em; background-color: rgba(229, 236, 234, 0.2); font-size: 1.5em;}
.play-button{margin-left: 8em;font-size: 1.5em;}
.play-button:hover{cursor: pointer; background-color: #b77198;}
.spec-gengral{margin-top: 1em; color: #ffffff;}
.spec-gengral form input{background-color: rgba(229, 236, 234, 0.4);height: 2em; background: none;}
.spec-button{background: none; background-color: rgba(229, 236, 234, 0.4);font-size: 1.1em; color: #ffffff;line-height: 1.7em;}
.spec-button:hover{cursor: pointer; background-color: #b77198}
/*#view-playedGame{margin-top: 1.5em;}*/
.spec-table{text-align: center; margin-top: 0.5em; border: 0.1em dashed #d6b01c; color: #ffffff; padding-bottom: 1em;}
.spec-table thead tr th{padding-right: 1em; text-align: center;}
/*.spec-table th{border-right: 0.1em solid rgba(232, 241, 111, 0.2);}*/