body{background: url("../img/20160606211514.png"); margin: 0 auto;}
.left{float: left}
.right{float: right}
.top-nav{background-color: rgba(229, 236, 234, 0.3); height: 4em;}
/*.top-nav-login{background: none !important; margin-right: 5em; margin-left: 3em;}*/
/*.top-nav-login ul li{border-right: none !important;}*/
.top-nav{padding-left: 0em;}
.top-nav ul li{padding-left:1em; line-height: 2em; padding-right: 1em;  color: #ffffff; font-size: 2em; display: inline-block; border-right: 0.05em solid #8da5a5;}
.top-nav ul li a{text-decoration: none;color: #ffffff;}
.sign-nav{ line-height: 4em; padding-right: 1em;}
.sign-nav form input{background: none;color: white; width: 8.1em;font-size: 1em; border: 0.1em dotted #7b849e;height: 1.7em;}
.sign-nav button{border: 0; -webkit-appearance: none;  background: transparent;width: 5em; height: 2.17em; }
/*.sign-nav button:hover{cursor: hand;}*/
.nav-on{background-color: #252424}
.logo{background: url("../img/logo.png"); width:6em; height: 2em;}
/*.sign{height: 100%; width: 70%; margin: 0 auto; color: aliceblue; font-size: 2em; padding-top: 200px;}*/
/*.sign form input{background: none;color: white; font-size: 20px;}*/

/*.sign button{outline: none; border: 0; -webkit-appearance: none;  background: transparent;width: 340px; height: 90px; }*/
/*.sign button:hover{cursor: hand;}*/
/*!*#sign-in button{background-image: url("../img/signin.png");}*!*/
/*#sign-up button{background-image: url("../img/signup.png"); }*/
.team{height: 100%; width: 70%; margin: 0 auto; color: aliceblue; font-size: 1.92em; padding-top: 1em;}
.team-img{margin-right:0.5em; width: 7em; height: 7em; border: 0; background-size: 100%; text-align: center;}
.individual{font-size: 0.8em; background-color: rgba(113, 138, 152, 0.7); height: 66%; width: 100%; padding-top: 3em; color: #f7f0f5;}
.go-pic{background-image: url("../img/gopic4.jpg"); background-repeat: no-repeat;background-size: 100%; width: 48em; height: 36em; margin-left: 9em; margin-top: 9em;}
.spectate{background-color: rgba(229, 236, 234, 0.3); width: 55em; height: 42em; margin-top: 5em; margin-right: 5em;}
.remainder{color: #ffffff; position: fixed;right: 13em; top: 5em; display: none; font-size: 1.2em;}

.canvas{width: 56%; height: 52em; margin-left: 22%;}

.customize{background-color: rgba(229, 236, 234, 0.3);height: 100%; width: 100%; border-radius: 2.5em; font-size: 1.4em;}
.remove-ul-default ul li{list-style: none; display: block;font-size: 1.5em; color: #344a5a;}
/*here is clear float*/
.f-cb:after, .f-cb1:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb {*display: none;}
.f-cb, .f-cb1, .f-cbli li{zoom:1;}
.bg-sel img{width: 3em;height: 3em;margin-top: 0.1em;}
.board{background-color: rgba(229, 236, 234, 0.16);}
#canvas-board{border: 1px solid white;}
.try-board{margin-left: 25em; padding-top: 2em;}
.try-nav{height: 2em; font-size: 2em; margin-left: 11.25em !important;}
.try-canvas{margin: 0 auto !important;}

.spec-home{margin-top: 1em; color: #ffffff; font-size: 2em;}
#spec-home table{width:27.5em; text-align: center; margin-top: 0.5em; }
#spec-home table thead tr th{padding-right: 1em; text-align: center;}